/* /* Initial layout so it doesn't jump on hover */
#hower {
    position: absolute;
    margin-left: 607px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px
}

/* Add only color changes or visual styling here */
.hover-style {
    background-color: hotpink;
    color: white;
    /* Optional: animation */
    transition: all 0.3s ease;
}

#mode {
    margin-left: 620px;
    margin-top: 10px;
}
